@page "/monthlyLedgerList"
@using FuelStation.Blazor.Shared
@using FuelStation.Model
@inject IJSRuntime jsRuntime
@inject HttpClient httpClient
@inject NavigationManager navigationManager

<h3>MonthlyLedger</h3>

@if (isLoading)
{
    <h1>Loading ...</h1>
}
else{
    <button class="btn btn-primary" @onclick="Logout">Logout</button>
      <table>
    <thead>
        <tr>
            <th>Month</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td>
                <EditForm Model="@MonthName">
                    <InputSelect @bind-Value="MonthName">
                       
                        
                            
                            @foreach(var month in Enum.GetValues(typeof(MonthEnum)))
                            {
                                if ((MonthEnum)month ==MonthEnum.None )
                                {
                                <option class="btn btn-secondary dropdown-toggle" value="@month">Select A Month</option>
                                }
                                else
                                {
                                <option class="btn btn-secondary dropdown-toggle" value="@month">@month</option>
                                }
                            
                            }   
                            
                               
                    </InputSelect>
                </EditForm>
            </td>
            <td>
                <input class="form-control" @bind=year placeholder="Year" />
            </td>
            <td>
                
                <button class="btn btn-danger btn-sm" @onclick=Total >Calculate</button>
            </td>
                

    
        </tr>      
    </tbody>
</table>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Total
                </th>
                <th>
                    Income
                </th>
                <th>
                    Expenses
                </th>
                <th>
                    Year
                </th>
                <th>
                    Month
                </th>

            </tr>
         </thead>
         <tbody>
             <tr>
                 <td>@total</td>
                 <td>@IncomeList</td>
                 <td>@ExpensesList</td>
                 <td>@year</td>
                <td>@if ((MonthEnum)MonthName !=MonthEnum.None )
                    {
                        @MonthName
                    }

                 
                 </td>
             </tr>

         </tbody>



    </table>
   
}
      


@code{
    //TODO:NEEDS WORK
    private List<MonthlyLedgerViewModel> _monthlyLedgerView = new();
    private bool isLoading = true;
    private decimal? IncomeList=null;
    private decimal? ExpensesList = null;
    private decimal? total = null;

    private int? year=null;

    public MonthEnum MonthName=new();


    protected override async Task OnInitializedAsync()
    {

    }

    private async Task LoadExpensesFromServer()
    {

    }

    private void  IncomeCalculation()
    {


    }

    private void ExpensesCalculation()
    {
 
    }
    async Task Total()
    {
        ExpensesCalculation();
        IncomeCalculation();

        total = IncomeList - ExpensesList;
    }
    protected void Logout()
    {
        navigationManager.NavigateTo("/");
    }
   
}